{% extends 'main/base.html' %}

{% block title %}Классы{% endblock%}

{% block content %}
<div class="grades vh-100">
    <h1>Классы</h1>
    <hr>
    <div class="btn-group">
        {% for grade in grades %}
        <a class="btn btn-primary shadow-sm mb-1" href="{% url 'main:profile' grade.id %}">{{grade.grade}}</a>
        {% endfor %}
        <a href="javascript:history.go(-1);" class="btn btn-warning shadow-sm mb-1">🔙</a>
        <!--        <input class="btn btn-warning shadow-sm" type=button value="🔙" onClick="javascript:history.go(-1);">-->
    </div>

</div>


{% endblock%}
