{% extends 'main/base.html' %}
{% load static%}
{% block title %}
Главная страница
{% endblock%}
{% block content %}
<div class="">
    <!--    <a href="{% url 'main:grade'%}" , style="color: red">*тык*</a>-->
    <!--    <p>-->
    <!--        — Вы продоёте расписание?<br>-->
    <!--        — Нет просто показываю.<br>-->
    <!--        — Красивое...-->
    <!--    </p>-->
    <!--    <span style="color: red">Люба сказала, что цвет ссылки сливается. Надо исправить</span>-->
    <section class="py-10 py-lg-20 text-center bg-bg-1">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-9 col-lg-7 col-xl-6 col-xxl-5">
                    <h1 class="display-5 mb-6 text-light-1">Возможности</h1>
                    <p class="fs-2 mb-15 text-light-2">Перестань тратить кучу
                        времени на поиск расписания - начни пользоваться <i><a href="https://t.me/hum4noidx"
                                                                               target="_blank"><i>upschedule</i></a></i>
                    </p>
                </div>
            </div>
            <div class="card-deck d-flex justify-content-around">
                <div class="card border-primary mb-3">
                    <div class="card-body w-100 p-8 p-md-16 p-lg-8 p-xl-12 p-xxl-20 bg-dark-1">
                        <object data="{% static 'main/img/telegram_ico.svg' %}" class="h-50 w-50 card-img-top">Your
                            browser does not
                            support
                            SVG
                        </object>
                        <h5 class="text-light-1">Всегда под рукой</h5>
                        <p class="my-4 text-light-2">Бот работает в
                            месседжере Telegram, что делает его удобным для повседневного использования</p>
                    </div>
                </div>
                <div class="card border-primary mb-3">
                    <div class="card-body w-100 p-8 p-md-16 p-lg-8 p-xl-12 p-xxl-20 bg-dark-1">
                        <object data="{% static 'main/img/speedometer_ico.svg' %}" class="h-50 w-50 card-img-top">Your
                            browser does not
                            support
                            SVG
                        </object>
                        <h5 class="text-light-1">
                            Быстрый и удобный</h5>
                        <p class="my-4 text-light-2">
                            Все основные функции вынесены в главное меню. Расписание появляется в один клик</p>
                    </div>
                </div>
                <div class="card border-primary mb-3">
                    <div class="card-body w-100 p-8 p-md-16 p-lg-8 p-xl-12 p-xxl-20 bg-dark-1">
                        <object data="{% static 'main/img/collection_ico.svg' %}" class="h-50 w-50 card-img-top">Your
                            browser does not
                            support
                            SVG
                        </object>
                        <h5 class="text-light-1">
                            Многофункциональный</h5>
                        <p class="my-4 text-light-2">
                            Подписки на гороскопы, модератор чата и многое другое</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock%}