{% extends 'main/base.html' %}

{% block title %}Расписание уроков{% endblock%}

{% block content %}
<div class="schedule vh-100">
    <table class="table table-stripped table-dark" style="border-radius: 15px;overflow: hidden;">
        <thead>
        <tr class="table-default">
            <th id="day" scope="row">День</th>
            <th>Номер</th>
            <th>Урок</th>
            <th>Кабинет</th>
        </tr>
        </thead>
        <tbody>
        {% for lesson in schedule %}
        <tr class="table-secondary">
            <td>{{lesson.lsn_date}}</td>
            <td>{{lesson.lsn_number}}</td>
            <td>{{lesson.lsn_text}}</td>
            <td>{{lesson.lsn_class}}</td>
        </tr>

        {% endfor %}

    </table>
    <a class="btn btn-dark shadow-sm mb-1" href="javascript:history.go(-1);">Назад</a>
</div>
<script type="text/javascript">
    const table = document.querySelector('table');

    let headerCell = null;

    for (let row of table.rows) {
        const firstCell = row.cells[0];

        if (headerCell === null || firstCell.innerText !== headerCell.innerText) {
            headerCell = firstCell;
        } else {
            headerCell.rowSpan++;
            firstCell.remove();
        }
    }
</script>
{% endblock%}
