{% extends 'main/base.html' %}
{% block title %}
О проекте
{% endblock%}

{% block content %}
<section class="section section bg-soft pb-5 overflow-hidden z-2">
    <div class="section section-header pb-7">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8 text-center">
                    <h1 class="display-2 mb-4">Мы - Upschedule</h1>
                    <p class="lead mb-5">Upschedule это многофункциональный сервис для доступа к расписанию в школе.
                        <br>Он
                        включает в себя Telegram бота и веб интерфейс для более подробной информации</p>
                    <a class="btn btn-primary mb-6" href="https://github.com/hum4noidx/upschedule"
                       target="_blank">
                        <span class="fab fa-github mr-1"></span> View on GitHub
                    </a>
                </div>
            </div>
        </div>
        <section class="container">
            <div class="content text-center mb-5">
                <h1 class="mb-3">Что сейчас?</h1>
                <div class="card-deck d-flex justify-content-around">
                    <div class="card bg-primary shadow-soft text-center border-light">
                        <div class="card-body">
                            <h4 class="card-title">Охват</h4>
                            <p class="card-text">База расписания бота охватывает классы с <b>8</b> по <b>11</b>
                                включительно
                            </p>
                        </div>
                    </div>
                    <div class="card bg-primary shadow-soft text-center border-light">
                        <div class="card-body">
                            <h4 class="card-title">Пользователи</h4>
                            <p class="card-text">На текущий момент зарегистрировано всего 60 пользователей, из них
                                активны
                                как
                                минимум 20 <br><small class="text-muted">(хотелось бы больше)</small></p>
                        </div>
                    </div>
                    <div class="card bg-primary shadow-soft text-center border-light">
                        <div class="card-body">
                            <h4 class="card-title">Функционал</h4>
                            <p class="card-text">От менеджера групп, который может остановить любой конфликт одной
                                командой,
                                до
                                личного мотиватора</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content text-center mb-5">
                <h1 class="mb-3">Что по технологиям?</h1>
                <div class="card-deck d-flex justify-content-around">
                    <div class="card bg-primary shadow-soft text-center border-light">
                        <div class="card-body">
                            <h4 class="card-title">Telegram</h4>
                            <p class="card-text">В качестве основы был выбран Telegram. Он быстрый, удобный и
                                предоставляет
                                широкие возможности для работы с ботами</p>
                        </div>
                    </div>
                    <div class="card bg-primary shadow-soft text-center border-light">
                        <div class="card-body">
                            <h4 class="card-title">Aiogram</h4>
                            <p class="card-text">Ассинхронный фреймворк для Telegram. Помогает делать ботов быстрее и
                                проще</p>
                        </div>
                    </div>
                    <div class="card bg-primary shadow-soft text-center border-light">
                        <div class="card-body">
                            <h4 class="card-title">PostgreSQL</h4>
                            <p class="card-text">Самая лучшая реляционная база данных. <br><small class="text-muted">Ну
                                не
                                MySQL
                                же...</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content text-center mb-5">
                <h1 class="mb-3">Планы на будущее</h1>
                <div class="card-deck d-flex justify-content-around">
                    <div class="card bg-primary shadow-soft text-center border-light">
                        <div class="card-body">
                            <h4 class="card-title">Расписание</h4>
                            <p class="card-text">Добавить импорт расписания из excel файлов. Слёз будет много...</p>
                        </div>
                    </div>
                    <div class="card bg-primary shadow-soft text-center border-light">
                        <div class="card-body">
                            <h4 class="card-title">Полноценный сайт</h4>
                            <p class="card-text">Закончить разработку сайта. Добавить новости, информацию</p>
                        </div>
                    </div>
                    <div class="card bg-primary shadow-soft text-center border-light">
                        <div class="card-body">
                            <h4 class="card-title">Конец</h4>
                            <p class="card-text">Закончить проект и начать заниматься чем-то полезным</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</section>


{% endblock%}
