<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>

    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <meta content=«no-cache»/ http-equiv=«Cache-Control»>
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>{% block title %}{% endblock%}</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <!--    <link href="{% static 'main/css/bootstrap.min.css' %}" rel="stylesheet">-->
    <link href="{% static 'main/css/styles.css' %}" rel="stylesheet">
    <link href="{% static 'main/css/neumorphism.css' %}" rel="stylesheet">
    <link href="{% static 'main/vendor/@fortawesome/fontawesome-free/css/all.min.css' %}" rel="stylesheet"
          type="text/css">


</head>
<body>
<header class="header-global">
    <nav aria-label="Primary navigation"
         class="navbar navbar-main navbar-expand-lg navbar-theme-primary headroom navbar-light navbar-transparent navbar-theme-primary"
         id="navbar-main">
        <div class="container position-relative">
            <a class="navbar-brand ms-3" href="/">
                <img alt="Logo dark" class="navbar-brand-light" src="{% static 'main/img/logo.svg' %}">
            </a>
            <div class="navbar-collapse collapse" id="navbar_global">
                <div class="navbar-collapse-header">
                    <div class="row">
                        <div class="col-6 collapse-brand">
                            <a class="navbar-brand shadow-soft py-2 px-3 rounded border border-light"
                               href="/">
                                <img alt="Logo dark" class="navbar-brand-light" src="{% static 'main/img/logo.svg' %}">
                            </a>
                        </div>
                        <div class="col-6 collapse-close">
                            <a aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation"
                               class="fas fa-times" data-target="#navbar_global" data-toggle="collapse"
                               href="#navbar_global" title="close"></a>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-center">
                    <a class="btn btn-primary text-secondary mr-3"
                       href="{% url 'main:grade'%}"><i class="far fa-paper-plane mr-2"></i>
                        Расписание</a>
                    <a class="btn btn-primary d-md-inline-block mr-3"
                       href="{% url 'main:about' %}"><i class="fas fa-book"></i> О проекте</a>
                    <a class="btn btn-primary d-md-inline-block"
                       href="/admin"><i class="fas fa-book"></i> Вход</a>

                </div>
            </div>
            <button aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler ml-2" data-target="#navbar_global" data-toggle="collapse"
                    type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
</header>

<main>
    {% block content %}{% endblock%}
</main>
<script crossorigin="anonymous"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="{% static 'main/vendor/popper.js/dist/umd/popper.min.js' %}"></script>
<script src="{% static 'main/vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'main/vendor/headroom.js/dist/headroom.min.js' %}"></script>
<script src="{% static 'main/vendor/headroom.js/dist/jQuery.headroom.min.js' %}"></script>

<!-- Vendor JS -->
<script src="{% static 'main/vendor/onscreen/dist/on-screen.umd.min.js' %}"></script>
<script src="{% static 'main/vendor/nouislider/distribute/nouislider.min.js' %}"></script>
<script src="{% static 'main/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'main/vendor/waypoints/lib/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'main/vendor/jarallax/dist/jarallax.min.js' %}"></script>
<script src="{% static 'main/vendor/jquery.counterup/jquery.counterup.min.js' %}"></script>
<script src="{% static 'main/vendor/jquery-countdown/dist/jquery.countdown.min.js' %}"></script>
<script src="{% static 'main/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js' %}"></script>
<script src="{% static 'main/vendor/prismjs/prism.js' %}"></script>
<script async defer src="https://buttons.github.io/buttons.js"></script>

<script src="{% static 'main/js/assets/neumorphism.js' %}"></script>
</body>
</html>

