<!DOCTYPE html>
{% extends 'main/base.html' %}
{% load static%}
{% block title %}
Главная страница
{% endblock%}
{% block content %}

<section class="py-10 py-lg-20 text-center bg-bg-1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-7 col-xl-6 col-xxl-5">
                <h1 class="display-5 mb-6 text-light-1">UPSCHEDULE</h1>
                <p class="fs-2 mb-15 text-light-2">Перестань тратить время на поиск расписания - начни пользоваться
                    <i><a href="https://t.me/hum4noidx"
                          target="_blank"><i>upschedule</i></a></i>
                </p>
            </div>
        </div>
        <div class="card-deck d-flex justify-content-around mt-5">
            <div class="card shadow-soft text-center border-light">
                <div class="card-body w-100">
                    <object class="h-50 w-50 card-img-top" data="{% static 'main/img/telegram_ico.svg' %}">Your
                        browser does not
                        support
                        SVG
                    </object>
                    <h5 class="h5 card-title">Всегда под рукой</h5>
                    <p class="card-text">Бот работает в
                        месседжере Telegram, что делает его удобным для повседневного использования</p>
                </div>
            </div>
            <div class="card shadow-soft text-center border-light">
                <div class="card-body w-100">
                    <object class="h-50 w-50 card-img-top" data="{% static 'main/img/speedometer_ico.svg' %}">Your
                        browser does not
                        support
                        SVG
                    </object>
                    <h5 class="h5 card-title">
                        Быстрый и удобный</h5>
                    <p class="card-text">
                        Все основные функции вынесены в главное меню. Расписание появляется в один клик</p>
                </div>
            </div>
            <div class="card shadow-soft text-center border-light">
                <div class="card-body w-100">
                    <object class="h-50 w-50 card-img-top" data="{% static 'main/img/collection_ico.svg' %}">Your
                        browser does not
                        support
                        SVG
                    </object>
                    <h5 class="h5 card-title">
                        Многофункциональный</h5>
                    <p class="card-text">
                        Подписки на гороскопы, модератор чата и многое другое</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--    <section class="section section bg-soft pb-5 overflow-hidden z-2">-->
<!--        <div class="container z-2">-->
<!--            <div class="row justify-content-center text-center pt-6">-->
<!--                <div class="col-lg-8 col-xl-8">-->
<!--                    <h1 class="display-2 mb-3">Neumorphism UI</h1>-->
<!--                    <p class="lead px-md-6 mb-5">Neumorphism inspired <strong>User Interface Kit</strong> that will help-->
<!--                        you prototype and design beautiful, creative and modern websites.</p>-->
<!--                    <div class="d-flex flex-column flex-wrap flex-md-row justify-content-md-center mb-5">-->
<!--                        <a class="btn btn-primary mb-3 mb-lg-0 mr-3"-->
<!--                           href="https://themesberg.com/product/ui-kits/neumorphism-ui"-->
<!--                           target="_blank"><i class="fas fa-cloud-download-alt mr-2"></i>-->
<!--                            Download</a>-->
<!--                        <div class="mt-2">-->
<!--                            <a aria-label="Star themesberg/neumorphism-ui on GitHub" class="github-button"-->
<!--                               data-color-scheme="no-preference: dark; light: light; dark: light;"-->
<!--                               data-icon="octicon-star" data-show-count="true" data-size="large"-->
<!--                               href="https://github.com/themesberg/neumorphism-ui">Star</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <a class="d-flex align-items-center justify-content-center flex-column"-->
<!--                       href="https://themesberg.com"-->
<!--                       target="_blank">-->
<!--                        <img alt="Themesberg Logo" class="mb-3" height="25" src="./assets/img/themesberg.svg">-->
<!--                        <span class="text-muted font-small">A Themesberg production</span>-->
<!--                    </a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->
<!--    <section class="section section-lg">-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                <div class="col-12 col-md-4">-->
<!--                    &lt;!&ndash; Icon box &ndash;&gt;-->
<!--                    <div class="icon-box text-center mb-5 mb-md-0">-->
<!--                        <div class="icon icon-shape icon-lg bg-soft shadow-soft border border-light rounded-circle mb-3">-->
<!--                            <span class="fas fa-box-open"></span>-->
<!--                        </div>-->
<!--                        <h2 class="h5 my-3">Over 200 components</h2>-->
<!--                        <p class="px-lg-4">Beatifully crafted and neumorphism inspired elements</p>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; End of Icon box &ndash;&gt;-->
<!--                </div>-->
<!--                <div class="col-12 col-md-4 mb-5 mb-md-0">-->
<!--                    &lt;!&ndash; Icon box &ndash;&gt;-->
<!--                    <div class="icon-box text-center">-->
<!--                        <div class="icon icon-shape icon-lg bg-soft shadow-soft border border-light rounded-circle mb-3">-->
<!--                            <span class="fas fa-pager"></span>-->
<!--                        </div>-->
<!--                        <h2 class="h5 my-3">10+ sections</h2>-->
<!--                        <p class="px-lg-4">Navigation bars, pricing cards, footers and many more sections to enhance-->
<!--                            page variety</p>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; End of Icon box &ndash;&gt;-->
<!--                </div>-->
<!--                <div class="col-12 col-md-4 mb-5 mb-md-0">-->
<!--                    &lt;!&ndash; Icon box &ndash;&gt;-->
<!--                    <div class="icon-box text-center">-->
<!--                        <div class="icon icon-shape icon-lg bg-soft shadow-soft border border-light rounded-circle mb-3">-->
<!--                            <span class="far fa-file-alt"></span>-->
<!--                        </div>-->
<!--                        <h2 class="h5 my-3">5 example pages</h2>-->
<!--                        <p class="px-lg-4">We took the time to create a few example pages to show you how neumorphic-->
<!--                            pages can look like</p>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; End of Icon box &ndash;&gt;-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->

{% endblock%}