<!DOCTYPE html>
{% extends 'main/base.html' %}

{% block title %}Профили{% endblock%}

{% block content %}

<section class="section section bg-soft pb-5 overflow-hidden z-2">
    <div class="section section-header pb-7">
        <div class="container">
            {% if profiles %}
            <h2>Профили <span class="badge badge-info bg-primary">{{profiles.first.grade_id}} класс</span></h2>
            <hr>
            <div class="btn-group-vertical">
                {% for profile in profiles %}
                <a class="btn btn-primary mb-3"
                   href="{% url 'main:days' profile.grade_id profile.id profile.math_id %}">{{profile.profile}}</a>
                {% endfor %}
                <a class="btn btn-dark shadow-sm mb-1" href="javascript:history.go(-1);">Назад</a>
            </div>
            {%else%}
            <h2>Пусто</h2>
            <input class="btn btn-danger shadow-sm" onClick="javascript:history.go(-1);" type=button
                   value="Previous Page">
            {% endif %}
        </div>
    </div>
</section>
{% endblock%}
