{% extends 'main/base.html' %}

{% block title %}Расписание уроков{% endblock%}

{% block content %}
<section class="section section bg-soft pb-5 overflow-hidden z-2">
    <div class="section section-header pb-7">
        <div class="container">
            <table class="table table-hover shadow-inset rounded">
                <tbody>
                <thead>
                <tr>
                    <th class="border-0" id="day" scope="row">День</th>
                    <th class="border-0">Номер</th>
                    <th class="border-0">Урок</th>
                    <th class="border-0">Кабинет</th>
                </tr>
                </thead>
                {% for lesson in schedule %}
                <tr>
                    <td>{{lesson.lsn_date}}</td>
                    <td>{{lesson.lsn_number}}</td>
                    <td>{{lesson.lsn_text}}</td>
                    <td>{{lesson.lsn_class}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <a class="btn btn-dark shadow-sm mb-1" href="javascript:history.go(-1);">Назад</a>
        </div>
    </div>
</section>

<script type="text/javascript">
    const table = document.querySelector('table');

    let headerCell = null;

    for (let row of table.rows) {
        const firstCell = row.cells[0];

        if (headerCell === null || firstCell.innerText !== headerCell.innerText) {
            headerCell = firstCell;
        } else {
            headerCell.rowSpan++;
            firstCell.remove();
        }
    }
</script>
{% endblock%}
