<!DOCTYPE html>
{% load static%}
<html lang="ru">
<head>
    <title>Ошибка 404</title>
    <link href="{% static 'errors/style_404.css' %}" rel="stylesheet">
</head>


<!-- end about -->

<nav>
    <div class="menu">
        <a class="website_name" href="/"><img alt="" class="navbar-logo"
                                              src="{% static 'main/img/logo.svg' %}"
                                              style="width: 14rem"></a>
        <div class="menu_links">
            <a class="link" href="{% url 'main:about' %}">about</a>
            <a class="link" href="{% url 'main:grade'%}">schedule</a>
            <a class="link" href="/admin/">sign in</a>
        </div>
        <div class="menu_icon">
            <span class="icon"></span>
        </div>
    </div>
</nav>

<section class="wrapper">

    <div class="container">

        <div class="scene" data-hover-only="false" id="scene">


            <div class="circle" data-depth="1.2"></div>

            <div class="one" data-depth="0.9">
                <div class="content">
                    <span class="piece"></span>
                    <span class="piece"></span>
                    <span class="piece"></span>
                </div>
            </div>

            <div class="two" data-depth="0.60">
                <div class="content">
                    <span class="piece"></span>
                    <span class="piece"></span>
                    <span class="piece"></span>
                </div>
            </div>

            <div class="three" data-depth="0.40">
                <div class="content">
                    <span class="piece"></span>
                    <span class="piece"></span>
                    <span class="piece"></span>
                </div>
            </div>

            <p class="p404" data-depth="0.50">404</p>
            <p class="p404" data-depth="0.10">404</p>

        </div>

        <div class="text">
            <article>
                <p>Uh oh! Looks like you got lost. <br>Go back to the homepage if you dare!</p>
                <form action="/">
                    <button>i dare!</button>
                </form>

            </article>
        </div>

    </div>
</section>

<script src="{% static 'errors/script1.js' %}"></script>
<script src="{% static 'errors/parallax.js' %}"></script>