<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ошибка 500</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400|Oswald:600' rel='stylesheet'>
    <link href="{% static 'errors/style_500.css' %}" rel="stylesheet">

</head>
<body>
<!-- partial:index.partial.html -->
<div id="error">Error</div>
<div class="error-num">500
    <div class="error-num__clip">500</div>
</div>
<p id="desc">Uh oh, there seems to be a problem.</p>
<p>To the <a href="/">main page</a></p>
<!-- partial -->
</body>
</html>
